{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="text-center mt-5 pt-1 pb-1 bg-primary col-2">
			<a href="{{ path('call') }}" class="text-white pr-0"> Nouvelle main </a>
		</div>
	</div>
{% endblock %}